.content-filler {
  height: 30px;
  position: relative;
  margin: -5px auto -5 auto;
  padding-bottom: 5px;
  display: flex;
  flex-direction: row;
}

#menu_element {
  width: 80%;
}

#save_image {
  height: 50%;
  width: 50%;
}

#remove_image {
  height: 20%;
  width: 20%;
  float: left;
  margin-left: 10px;
}
