/* need to control for window size */
.save_button_field {
    width: 5%;
    float: right;
    z-index: 2;
}

#save_button {

  position: relative;
  /*height: 75%;
  width: 75%;*/
}

#save_image {
  height: 75%;
  width: 75%;
}

.input--textarea-clear {
  position: absolute;
  width: 90%;
}

#js--file-upload-btn {
  width: 50%;
}

.content_button_field {
  width: 5%;
  /*height: auto;*/
  float: left;
  /*z-index: 2;*/
}

#content_image {
  position: relative;
  height: 50%;
  width: 50%;
}

#menu {
  overflow: visible !important;
  height: auto !important;
  width: auto !important;
}
