/* need to control for window size */
.save_button_field {
    width: 5%;
    float: right;
    z-index: 2;
}

#save_button {

  position: relative;
  height: 75%;
  width: 75%;
}

.input--textarea-clear {
  position: absolute;
  width: 90%;
}

#js--file-upload-btn {
  width: 50%;
}

#save_image {
  /*background: url(https://c1.staticflickr.com/3/2900/33745640515_a90c44b434_t.jpg) no-repeat;*/

}
